* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #1c1c1c;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	overflow: hidden;
}

button {
	background-color: rebeccapurple;
	border-radius: 5px;
	box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.15);
	border: none;
	color: white;
	cursor: pointer;
	padding: 2rem 4rem;
	position: fixed;
	transition: all 0.1s linear, box-shadow 0.1s linear;
	font-size: 36pt;
	z-index: 10;
}

button:active {
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 rebeccapurple;
}

button:focus {
	outline: none;
}

.particle {
	--x: 0;
	--y: 0;
	background-color: rebeccapurple;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0.5rem;
	width: 0.5rem;
	z-index: -1;
}

.particle.move {
	animation: move 1000ms linear forwards;
}

.ptag {
	text-align: center;
	display: none;
	width: 100vw;
	top: 20%;
	position: fixed;
	transition: all ease-in-out 0.2s;
}

@keyframes gradient-shift {
	0% {
		background-position: 100% 50%;
	}

	50% {
		background-position: 300% 50%;
	}

	100% {
		background-position: 500% 50%;
	}
}

.ptag p {
	color: #fff;
	font-weight: 800;
	font-size: 42pt;
	background: linear-gradient(264.51deg, #ffe580 4.38%, #ff7571 11.51%, #ff7270 25.06%, #ea5dad 36.04%, #c2a0fd 47.63%, #9867f0 59.03%, #3bf0e4 69.96%, #33ce43 83.74%, #b2f4b6 95.62%, #dff4b2 95.62%, #ffe580 4.38%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    background-size: 500%;
    background-clip: text;
    -webkit-animation: gradient-shift 20s cubic-bezier(0, 0, 1, 1) infinite;
    animation: gradient-shift 20s cubic-bezier(0, 0, 1, 1) infinite;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease-in-out 0.2s;
}


@keyframes move {
	to {
		transform: translate(var(--x), var(--y));
	}
	
	95% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

.foot {
	display: block;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 5%;
}

.foot a, .foot a:link,.foot a:visited {
	color: #555;
	user-select: none;
	transition: all ease-in-out 0.2s;
	text-decoration: none;
	font-size: 24pt;

}

.foot a:hover {
	color: #777;
}

.foot a:active {
	color: #3bf0e4;
}

